.button {
  display: inline-flex;
  align-items: center;
  height: 60px;
  max-height: 60px;
  padding: 0 60px;
  border: 1px solid $color-red;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: $color-red;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $color-red;
    color: $color-white;
  }
}
