* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body,
#__next {
  height: 100%;
}

body {
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: radial-gradient(
      115.92% 115.92% at 30.9% 100%,
      rgba(255, 255, 255, 0.0728767) 0%,
      rgba(88, 130, 242, 0.14) 48.52%,
      rgba(255, 255, 255, 0) 78.33%
    );
  }
}

.layout {
  height: 100%;
  padding: 50px 0;

  .container {
    display: flex;
    align-items: flex-start;
  }
}

.wrapper {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.entry {
  padding-top: 50px;
  position: relative;

  h1 {
    margin-bottom: 30px;
  }

  p {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 50px;

    span {
      color: $color-red;
    }
  }
}
