* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body,
#__next {
  height: 100%;
}

body {
  background-color: var(--bg-color);
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --red-color: #f34040;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000000;
    --text-color: #ffffff;
  }
}

.layout {
  height: 100%;
  padding: 50px 0;

  .container {
    display: flex;
    align-items: flex-start;
  }
}

.wrapper {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
